/* CSS Reset */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
/* 	border: 0; */
	}
body {
background-color: #fff;
font-family: 'Open Sans', sans-serif;
line-height: 1.5;
color: #4f4f4f;
text-rendering: optimizeLegibility;
font-feature-settings: "kern";
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
scroll-behavior: smooth;
letter-spacing: -.025ex;
--tw-bg-opacity: 1;
}
*{
  box-sizing: border-box; 
   max-width:100%; 
   border: 1px solid red; 
  margin: 0 auto;
}
h1{
  font-size: 3.0rem;
}
h2{
  font-size: 2.4rem;
}
h3{
  font-size: 2.1rem;
}
h4{
  font-size: 1.8rem;
}
h5{
  font-size: 1.2rem;
}
p{
  font-size: 1.1rem;
}
h6{
  font-size: 0.8rem;
}
hr{
  width: 80%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  color: #2b7e20;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1;
}
.desktop_nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 60%;
  padding: 1%;
}
.desktop_nav a{
  text-decoration: none;
  padding: 0 2%;
  width: 35%;
  color: #2b7e20;
}
.desktop_nav a:hover{
  border: 2px solid #2b7e20;
  color: #2b7e20;
  padding: 0.7% 0;
  border-radius: 5px;
}
.responsive_nav{
  display: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 9rem;
  box-shadow: 0px 8px 16px 
    0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 7%;
}
.dropdown-content a {
  color: #2b7e20;
  font-size: 0.8rem;
  padding: 6px 6px;
  text-decoration: none;
  display: block;
  border: 2px solid #c6e5c2;
}
.dropdown-content a:hover {
  background-color: #f1f1f1
}
.dropdown:hover 
.dropdown-content {
  display: block;
}
.logo{
  width:30%;
  text-align: left;
  font-weight: bold;
  padding: 0.4% 1%;
}
.logo img{
  width: 25%;
  padding: 0% 2%;
}
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner_text{
  width: 50%;
  margin-top: 10%;
}
.banner_text h1{
  color: #2b7e20;
  font-weight: bold;
}
.banner_image{
  width: 50%;
}
.banner_quote{
  font-size: 3rem;
}
.banner_text button{
  background: #fff;
  color: #2b7e20;
  padding: 1% 2%;
  border-radius: 5px;
  margin-top: 2%;
  text-decoration: none;
  border: 2px solid #2b7e20;
}
.banner_text button:hover{
  background-color: #2b7e20;
  color: #fff;
  border: 2px solid #2b7e20;
}
.home_about{
  width: 70%;
  padding: 3% 2%;
  margin: 18% 15%;
  box-shadow: 6px 4px 10px #ccc;
  border-radius: 10px;
}
.home_about h2{
  color: #2b7e20;
  padding: 2% 0%;
  font-weight: bold;
  text-align: left;
}
.home_about p{
  padding: 2% 0%;
  text-align: left;
}
.home_about a{
  background: #fff;
  color: #2b7e20;
  padding: 1% 2%;
  border-radius: 5px;
  margin-top: 2%;
  text-decoration: none;
  border: 2px solid #2b7e20;
}
.home_about a:hover{
  background-color: #2b7e20;
  color: #fff;
  border: 2px solid #2b7e20;
}
.company{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 8% 1% 8% 1%;
}
.company img{
  width: 80%;
  filter: grayscale(100);
}
.company img:hover{
  filter: grayscale(0)
}
.company a{
  width: 15%;
}
.comments_container{
  padding: 1%; 
  margin-bottom: 10%;
}
.comments_container h2{
  color: #2b7e20;
  padding: 2% 0%;
  font-weight: bold;
}
.comments{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.comments_card{
  background-color: #f9fff8;
  width: 23%;
  padding:2% 2%;
  margin: 1%;
  border-radius: 10px;
  text-align: left;
}
.comments div:hover{
  background-color: #c6e5c2;
}
.about_container, 
.about_container1,
.about_container2,
.about_container3,
.about_container4{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about_container,
.about_container3{
  background-color: #f9fff8;
}
.about_img,
 .about_img3,
 .about_img4{
  width: 40%;
  margin: 10% 2% 10% 8%;
}
 .about_img3,
 .about_img4{
  width: 40%;
  margin: 10% 8% 10% 2%;
}
.about_img img{
  width: 90%;
  border-radius: 5px;
}
.about_img3 img{
  border-radius: 5px;
}
.about_img4 img{
  border-radius: 5px;
}
.about_img1,
 .about_img2{
  display: none;
}
.about_text,
.about_text1,
.about_text2,
.about_text3,
.about_text4{
  width: 50%;
  text-align: left;
}
.about_text,
.about_text2, 
.about_text4{
  padding: 3% 9% 3% 0%;
}
.about_text1,
.about_text3{
  padding: 3% 0% 3% 9%;
}
.about_text h2{
  color: #2b7e20;
  padding: 1% 0;
  font-weight: bold;
}
.about_text1 h2{
  color: #2b7e20;
  padding: 1% 0;
  font-weight: bold;
}
.about_text2 h2{
  color: #2b7e20;
  padding: 1% 0;
  font-weight: bold;
}
.about_text3 h2{
  color: #2b7e20;
  padding: 1% 0;
  font-weight: bold;
}
.about_text4 h2{
  color: #2b7e20;
  padding: 1% 0;
  font-weight: bold;
}

.about_text a{
  color: #2b7e20;
}
.recognition_list{
  text-align: left;
  line-height: 2;
  color: #2b7e20;
}
.init_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 10% 8%;
  width: 85%;

}
.init_items{
  width:70%;
  /* height: 50vh; */
  padding: 2%;
  box-shadow: 6px 4px 10px #ccc;
  border-radius: 10px;
  text-align: justify;
  margin-bottom: 12%;
  margin-left: 14%;
}
.init_items img{
  width: 30%;
  margin: 1% 2%;
}
.init_items img:hover{
filter: grayscale(100);
}

.init_img{
  float: left;
  shape-image-threshold: 0.9;
}
.blog_container{
  margin: 10% 2%;
}
.pub_container{
  margin-top: 10%;
}
.pub_container h2{
  color: #2b7e20;
  font-weight: bold;
  padding:2% 0;
}
.pub_container button{
  background-color: #2b7e20;
  color: #fff;
  padding: 1% 2%;
  margin: 2% 0;
  border-radius: 5px;
}
.pub_container button:hover{
  background-color: #fff;
  color: #2b7e20;
  border: 2px solid #2b7e20;
}
.contact_container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.contact_img{
  width: 50%;
}
.contact_img img{
  width: 100%;
}
.contact_text{
  width: 45%;
  color: #2b7e20;
  margin: 8% 1%;
}
.contact_socials{
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 35%;
  margin-top: 5%;
}
.contact_socials a{
  color: #2b7e20;
}
footer{
  background-color: #2b7e20;
  color: #fff;
}
.footer_container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 6% 5%;
  width: 90%;
}
.footer_items{
  width: 23%;
  padding: 2% 2%;
  margin-top: 8%;
}
.footer_items a{
  display: flex;
  flex-direction: column;
  color: #c6e5c2;
  text-decoration: none;
  text-align: left;
  padding: 1% 0;
}
.footer_items img{
  width: 60%;
}
.footer_items a:hover{
  color: #fff;
}
.footer_items h3{
 font-weight: bold;
 text-align: left;
}
.footer_copyright{
  text-align: center;
  padding: 3% 0;
}
.footer_copyright a{
  color: #c6e5c2;
}
.footer_copyright a:hover{
  color: #fff;
}
.footer_socials{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1% 0;
  margin: 6% 2%;
}

@media screen and (max-width: 700px) {
  *{
    line-height: 2;
  }
  h1{
    font-size: 2.2rem;
  }
  h2{
    font-size: 2.0rem;
  }
  h3{
    font-size: 1.7rem;
  }
  h4{
    font-size: 1.5rem;
  }
  h5{
    font-size: 1.0rem;
  }
  p{
    font-size: 0.9rem;
  }
  h6{
    font-size: 0.7rem;
  }
  header{
    overflow: visible;
  }
  .logo{
    width: 100%;
  }
  .logo img{
    width: 20%;
  }
  .responsive_nav{
    display: inline;
    padding: 2% 3%;
  }
  .desktop_nav{
    display: none;
  }
  .banner{
    flex-wrap: wrap;
    margin-top: 3%;
  }
  .banner_text{
    width: 100%;
  }
  .banner_image{
    width: 100%;
  }
  .home_about{
    margin: 18% 6%;
    width: 91%;
    padding: 3% 2%;
  }
  .comments_container{
    width: 80%;
    margin: 18% 12%;
  }
  .company a{
    width: 50%;
    padding: 2%;
  }
  .comments_card{
  width: 100%;
  margin: 10% 0;
  }
  .about_container,
  .about_container1,
  .about_container2,
   .about_container3,
   .about_container4
   {
    margin-top: 3%;
    margin-bottom: 25%;
  }
  .about_img{
    width: 100%;
    margin-top: 22%;
    margin: 25% 3% 0 3%;
  }
  .about_img img{
    width: 100%;
  }
  .about_img3, 
  .about_img4{
    display: none;
  }
  .about_img1,
   .about_img2{
    width: 90%;
    margin: 0 6%;
    display: inline;
    margin-top: 25%;
  }
  .about_text, 
  .about_text1,
  .about_text2,
  .about_text3,
  .about_text4
  {
    width: 92%;
    margin: auto;
    padding: 1% 1%;
  }
  .about_text, 
  .about_text2,
  .about_text4
  {
  margin: 0% 4%;
  padding: 1% 1%;
  }
  .init_container{
    margin-top: 5%;
  }
  .init_items{
    width: 95%;
    margin: 25% 0;
    padding: 1% 6%;
  }
  .blog_container{
    margin-top: 20%;
  }
  .contact_img{
    width: 100%;
  }
  .contact_socials{
    width: 70%;
    margin: 5% 12%;
  }
  .contact_text{
    width: 100%;
  }
  .footer_items img{
    width: 100%;
  }
  .footer_items{
    width: 65%;
   margin-left: 20%;
  }
  .footer_items a{
    font-size: 0.7rem;
  }
  .footer_copyright p{
    font-size: 0.7rem;
  }
}