/* CSS Reset */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
/* 	border: 0; */
	}
body {
background-color: #fff;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 1.5;
color: #4f4f4f;
}
*{
  box-sizing: border-box; 
   max-width:100%; 
   /* border: 1px solid red;  */
  margin: 0 auto;
}
h1{
  font-size: 2.4rem;
}
h2{
  font-size: 2.0rem;
}
h3{
  font-size: 1.4rem;
}
h4{
  font-size: 1.2rem;
}
p{
  font-size: 0.8rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  color: #2b7e20;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 80%;
  padding: 1%;
}
nav a{
  text-decoration: none;
  padding: 0 2%;
  width: 40%;
  color: #2b7e20;
}
nav a:hover{
  border: 2px solid #2b7e20;
  color: #2b7e20;
  padding: 0.7% 0;
  border-radius: 5px;
}
.logo{
  width:20%;
  text-align: left;
  font-weight: bold;
  color: #fff;
  padding: 0.4% 1%;
}
.logo img{
  width: 35%;
  padding: 0% 2%;
}
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner_text{
  width: 50%;
}
.banner_text h1{
  color: #2b7e20;
  font-weight: bold;
}
.banner_image{
  width: 50%;
}
.home_about{
  width: 80%;
  padding: 3% 2%;
  margin: 1% 10%;
  box-shadow: 6px 4px 10px #ccc;
  border-radius: 10px;
}
.home_about h2{
  color: #2b7e20;
  padding: 2% 0%;
  font-weight: bold;
  text-align: left;
}
.home_about h5{
  padding: 2% 0%;
}
.home_about a{
  background: #2b7e20;
  color: #fff;
  padding: 1% 2%;
  border-radius: 10px;
  margin-top: 2%;
  text-decoration: none;
}
.home_about a:hover{
  background-color: #fff;
  color: #2b7e20;
  border: 2px solid #2b7e20;
}
.company{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 6% 3% 2% 3%;
}
.company img{
  width: 90%;
  filter: grayscale(100);
}
.company img:hover{
  filter: grayscale(0)
}
.company a{
  width: 20%;
}
.comments_container{
  padding: 1%; 
}
.comments_container h2{
  color: #2b7e20;
  padding: 2% 0%;
  font-weight: bold;
}
.comments{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.comments_card{
  background-color: #f9fff8;
  width: 23%;
  padding:2% 2%;
  margin: 1%;
  border-radius: 10px;
}
.comments div:hover{
  background-color: #c6e5c2;
}
.about_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_img{
  width: 50%;
}
.about_text{
  width: 50%;
  padding: 3%;
}
.about_text h2{
  color: #2b7e20;
  padding: 1% 0;
  font-weight: bold;
}
footer{
  background-color: #2b7e20;
  color: #fff;
  /* margin-top: 4%; */
}
.footer_container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer_items{
  width: 23%;
  padding: 2% 2%;
  margin-top: 2%;
}
.footer_items a{
  display: flex;
  flex-direction: column;
  color: #fff;
  text-decoration: none;
}
.footer_items img{
  width: 30%;
}
.footer_items a:hover{
  color: #ccc;
}
.footer_items h4{
  text-decoration: underline;
}
.footer_copyright{
  text-align: center;
  padding: 1% 0;
}
.footer_copyright a{
  color: #fff;
}
.footer_copyright a:hover{
  color: #ccc;
}
.footer_socials{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%;
  padding: 1% 0;
  margin: 2% 16%;
}
